<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<Appenders>
	    <Console name="Console" target="SYSTEM_OUT">
	      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
	    </Console>
	    
	    <!-- name可以自定义，作用是在Loggers中AppenderRef中使用 -->
        <!-- fileName定义输出文件名称（当前文件） -->
        <!-- filePattern定义输出文件名称（文件满足条件后自动截断，生成历史文件） -->
        <RollingFile name="DEBUG"
                     fileName="my-blog-logs/debug/debug.log"
                     filePattern="my-blog-logs/error/%d{MM-dd-yyyy}-debug.log">
            <PatternLayout>
                <Pattern>%d [%t] %-5p [%c] - %m%n  </Pattern>
            </PatternLayout>
            <!-- 文件截断的条件，具体参考文档 -->
            <Policies>
                <TimeBasedTriggeringPolicy interval="24"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
        
        <!-- 定义ERROR的Appender -->
        <RollingFile name="ERROR"
                     fileName="my-blog-logs/error/error.log"
                     filePattern="my-blog-logs/error/%d{yyyy-MM-dd}-error.log">
            <!-- 可以通过该参数来设置获取日志的权限 -->
            <ThresholdFilter level="ERROR"/>
            <PatternLayout>
                <Pattern>%d [%t] %-5p [%c] - %m%n  </Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="24"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
	 </Appenders>
	 
	 <Loggers>
	    <Root level="info">
	      <AppenderRef ref="Console"/>
	      <AppenderRef ref="DEBUG"/>
          <AppenderRef ref="ERROR"/>
	    </Root>
	 </Loggers>

</configuration>