@media screen and (min-width: 768px) {
    .center{
        border:  1px solid silver;
        padding: 0 0 20px 20px;
        margin: 0 0 25px;
        box-shadow: 0 2px 5px 0 rgba(33, 22, 22, 0.2), 0 2px 10px 0 rgba(0,0,0,0.12);
    }
    #right{
        margin-top: 7px;
        margin-right: 25px;
        transform: translateY(-40px);
    }
    .articlePublishDate,.originalAuthor,.categories{
        display: inline-block;
    }
    /*最新评论*/
    .new-comment,.new-leaveWord{
        margin: 40px 0 0;
        border: 1px solid silver;
        box-shadow: 0 2px 5px 0 rgba(33, 22, 22, 0.2), 0 2px 10px 0 rgba(0,0,0,0.12);
    }
    .radioBroadcast{
        display: inline-block;
        margin-left: 14px ;
        border: 1px solid silver;
        box-shadow: 0 2px 5px 0 rgba(33, 22, 22, 0.2), 0 2px 10px 0 rgba(0,0,0,0.12);
        padding: 1px;
        width: 99%;
        margin-bottom: 4px;
    }
    .siteRunningTime{
        display: block;
    }
    .siteUpdateTime{
        display: block;
    }
    .site-info{
        margin-top: 20px;
        box-shadow: 0 2px 5px 0 rgba(33, 22, 22, 0.2), 0 2px 10px 0 rgba(0,0,0,0.12);
        margin-left: 15px;
    }
    .site-default{
        display: block;
        list-style: none;
        font-size: 14px;
        line-height: 25px;
        padding-bottom: 25px;
    }
}
@media screen and (max-width: 768px) {
    .center{
        border:  1px solid silver;
        padding: 0 10px 10px 10px;
        box-shadow: 0 2px 5px 0 rgba(33, 22, 22, 0.2), 0 2px 10px 0 rgba(0,0,0,0.12);
        margin: 0 10px 25px;
    }
    #right{
        margin-top: 10px;
        padding: 0 40px;
    }
    .articlePublishDate,.originalAuthor{
        display: inline-block;
    }
    .categories{
        margin: 5px 0 0 0;
    }
    /*最新评论*/
    .new-comment,.new-leaveWord{
        margin: 30px 10px 20px;
        border: 1px solid silver;
        box-shadow: 0 2px 5px 0 rgba(33, 22, 22, 0.2), 0 2px 10px 0 rgba(0,0,0,0.12);
    }
    .radioBroadcast{
        display: inline-block;
        border: 1px solid silver;
        box-shadow: 0 2px 5px 0 rgba(33, 22, 22, 0.2), 0 2px 10px 0 rgba(0,0,0,0.12);
        padding: 1px;
        width: 99%;
    }
    .siteRunningTime{
        display: inline-block;
    }
    .siteUpdateTime{
        display: inline-block;
    }
    .site-info{
        box-shadow: 0 2px 5px 0 rgba(33, 22, 22, 0.2), 0 2px 10px 0 rgba(0,0,0,0.12);
        margin: 30px 10px 0;
    }
    .site-default{
        display: block;
        list-style: none;
        font-size: 14px;
        line-height: 25px;
        padding-bottom: 15px;
        margin-left: 17px;
    }
}
#left{
    margin-left: 14px;
    margin-top: 7px;
}
.am-u-lg-6{
    padding: 10px;
}
.likes{
    float: right;
    margin-right: 40px;
    color: #969696;
}

/*名片按钮*/
#personal-card{
    margin: 5px 20px;
}
#personal-card-btn{
    border: 0;
    background-color: white;
    color: #000000;
}
#personal-card button img{
    width: 40px;
}
.personal-card-show-img img{
    width: 150px;
    margin: 20px 0 0 0;
}
.img-title{
    margin-top: 20px;
    margin-left: 20px;
}
.img{
    width: 100%;
    height: 100%;
}
.img-words{
    margin-top: 20px;
    line-height: 20px;
}
#name{
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: #565a5f;
    margin-top: 0px;
}
#connection{
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
    line-height: 1.6em;
}
.attention_btn{
    margin: 20px auto 10px;
}
.clear{
    clear:both;
}
.widget-title{
    margin-top: 7px;
    margin-left: 20px;
    font-weight: 700;
    font-size: 1.3em;
}
.widget{
    background-color: #f2dede;
    margin-left: 15px;
    padding: 15px 15px;
    line-height: 1.6em;
    word-wrap: break-word;
    font-size: 0.9em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.bg-danger{
    padding: 15px 0 0;
    margin-top: -10px;
}
.zhy-info-day{
    padding: 7px 10px;
}
.zhy-info-day p{
    text-align: center;
    font-size: 14px;
    line-height: 19px;
}
.zhy-info-opinion{
    margin-top: 25px;
    text-align: center;
}
.zhy-info-opinion p{
    font-size: 16px;
    font-family: 仿宋;
}
.myStory{
    margin-top: 20px;
    height: 100px;
    margin-left: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.myStory .bg-myStory,.bg-myGirl,.bg-myHeart{
    font-size: 26px;
    text-align: center;
    height: 60px;
    padding: 15px 20px 15px;
    border-radius: 10px 10px 0px 0px;
}
.myStory-words{
    text-align: center;
    margin-top: 5px;
}
.tag-cloud{
    padding-top: 9px;
}
.widget-tag-cloud{
    margin-left: 20px;
    display: inline-block;
}
.widget-tag-cloud a{
    margin-right: 5px;
    display: inline-block;
}
.widget-tag-cloud a:hover{
    text-decoration: underline;
}
hr{
    margin-top: 10px;
    margin-bottom: 5px;
}
.icons{
    margin-top: 10px;
    text-align: center;
    flex-direction: row;
    align-items: center;
}
.icon{
    display: inline-block;
    margin-right:15px;
}

a.linkColor:hover{
    color: #38b7ea;
    text-decoration: underline;
}
a.article-title:hover{
    color: #38b7ea;
    text-decoration: underline;
}
a.linkColor{
    color: #63676d;
}
.categories i{
    color: #63676d;
}
.halving-line{
    margin-top: 30px;
    color: #CCCCCC;
}
.halving-line-words{
    margin-top: 15px;
    color: chocolate;
}
.halving-line i{
    margin: auto 10px;
}
.zhy-qq-weixin p{
    color: lightyellow;
    font-size: large;
    font-family: 仿宋
}
.zhy-qq-box img{
    width:130px;
    border: 10px;
}
.zhy-weixin-box{
    margin-top: 20px;
}
.zhy-weixin-box img{
    width:130px;
    border: 10px;
}
/*文章*/
.article-header h1{
    margin-top: 14px;
}
.article-title{
    margin-bottom: 14px;
    font-size: 24px;
    color: #7f7f7f;
}
a.tag:hover{
    color: #38b7ea;
}
.articleType{
    border-radius: 5px;
}
.article-meta i{
    margin-left: 5px;
    font-size: 15px;
    color: #63676d;
}
.article-entry{
    font-size: 16px;
    padding: 10px 8px;
    line-height: 2em;
    color: #565a5f;
}
.article-tags i{
    color: #63676d;
    margin: 10px 5px 0 0;
}
.article-tags a{
    color: #777c83;
    text-decoration: none;
}
.read-all{
    margin-left: 7px;
}
.read-all a{
    padding: 3px 0;
    border-bottom: 2px solid;
    text-decoration: none;
    color: #7f7f7f;
}
.read-all a:hover{
    color: #38b7ea;
    border-bottom: 2px solid #7f7f7f;
}
/*最新评论*/
.new-comment-content{
    display: block;
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #999;
}
.article-title{
    font-weight: 500;
}
.newComments h2,.newLeaveWord h2{
    font-weight: 500;
}
.newCommentTitle,.newLeaveWordTitle{
    font-size: 14px;
}
.newCommentTitle:hover{
    text-decoration: underline;
}
.newLeaveWordTitle:hover{
    text-decoration: underline;
}
.page{
    margin: 0 auto 1rem;
}
.fiveNewComments{
    margin-bottom: 1rem;
}
.new-comment-content{
    font-size: 14px;
}
/*个人名片*/
.myCard{
    border: 1px solid silver;
    box-shadow: 0 2px 5px 0 rgba(33, 22, 22, 0.2), 0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 15px 0;
}
/*广播*/
.roll{
    display: inline-block;
    width: 90%;
    height: 21px;
    position:relative;
    overflow:hidden;
    transform: translateY(2px);
}
.roll li{
    list-style:none;
    height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.roll ul{
    position:absolute;
    left:0;
    top:0;
    padding-left: 5px;
}
/*#站点信息*/
.site-icon{
    border-right: 1px solid #ddd;
    width: 15px;
}
.site-title{
    margin: 5px 15px 5px;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.site-default-word{
    letter-spacing: 1px;
}
.site-default-icon{
    margin-right: 10px;
}

/*我的故事、我的女孩*/
.bg-myStory-a{
    text-decoration: none;
    color: white;
}
.bg-myGirl-a{
    text-decoration: none;
    color: white;
}
.bg-myStory a:hover{
    text-decoration: none;
    color: #0a0a0a;
}
.bg-myGirl a:hover{
    text-decoration: none;
    color: #0a0a0a;
}
.bg-myHeart a:hover{
    text-decoration: none;
    color: #0a0a0a;
}
.bg-myStory{
    background:repeating-linear-gradient(45deg, #74ccff, #74ccff 15px, #bba985 0, #bba985 30px);
}
.bg-myGirl{
    background:repeating-linear-gradient(45deg, #ffbb33, #fb3 15px, #58a 0,#58a 30px);
}
.bg-myHeart{
    background:repeating-linear-gradient(45deg, #8275fd, #8275fd 15px, #fd940c 0, #fd940c 30px);
}
/*background:#eee;*/
/*background-image: linear-gradient(45deg,#bbb 25%,transparent 0),linear-gradient(45deg,transparent 75%,#bbb 0),linear-gradient(45deg,#bbb 25%,transparent 0),linear-gradient(45deg,transparent 75%,#bbb 0);*/
/*background-size: 30px 30px;*/
/*background-position: 0 0 ,15px 15px,15px 15px,30px 30px;*/

/*background:repeating-linear-gradient(45deg,#fb3, #fb3 15px, #58a 0,#58a 30px);*/

/*background:repeating-linear-gradient(45deg, #74ccff, #74ccff 15px, #bba985 0, #bba985 30px)*/