@media screen and (min-width: 768px) {
    .successNoticeAlert{
        display: none;
        position: absolute;
        top:0%;
        left:40%;
        border: 1px solid #62c812;
        color: #62c812;
        padding:10px 25px;
        border-radius: 5px;
    }
    .dangerNoticeAlert{
        display: none;
        position: absolute;
        top:0%;
        left:40%;
        border: 1px solid #bb4a3c;
        color: #ff3023;
        padding:10px 25px;
        border-radius: 5px;
    }
    .categories{
        margin:10px 150px 0 0;
        padding: 20px 30px;
    }
    .updateCategory,.updateFriendLink,.updateReward{
        float: right;
        margin-right: 150px;
    }
    .msgIsRead{
        float: right;
        margin-right: 150px;
        cursor: pointer;
        color: #3399ea;
    }
    .msgRead{
        padding-bottom: 10px;
        margin-right: 150px;
    }
    .rewardFormContent{
        width: 300px;
    }
    #remarks{
        height: 50px;
        width: 300px;
    }
}
@media screen and (max-width: 768px) {
    .successNoticeAlert{
        display: none;
        position: absolute;
        top:0%;
        left:30%;
        border: 1px solid #62c812;
        color: #62c812;
        padding:10px 25px;
        border-radius: 5px;
    }
    .dangerNoticeAlert{
        display: none;
        position: absolute;
        top:0%;
        left:30%;
        border: 1px solid #bb4a3c;
        color: #ff3023;
        padding:10px 25px;
        border-radius: 5px;
    }
    .categories{
        margin:10px 0 0 0;
        padding: 20px 30px;
    }
    .updateCategory,.updateFriendLink,.updateReward{
        float: right;
        margin-right: 30px;
    }
    .msgIsRead{
        float: right;
        cursor: pointer;
        color: #3399ea;
        margin-right: 30px;
    }
    .msgRead{
        padding-bottom: 10px;
        margin-right: 30px;
    }
    .rewardFormContent{
        width: 150px;
    }
    #reward-date{
        width: 150px;
    }
    #remarks{
        height: 50px;
        width: 150px;
    }
}
.notice{
    text-align: center;
}
.superFunction{
    display: none;
}
#statistics{
    display: block;
}
.superAdminClick a:hover{
    text-decoration: none;
    cursor: pointer;
    background-color: #F0F0F0;
}
.article a:hover{
    text-decoration: none;
    background-color: #F0F0F0;
}
.contentTop{
    margin-bottom: 15px;
}
/*反馈*/
.userFeedbackInfo,.privateWord{
    width: 85%;
}
.feedbackInfo{
    border: 1px solid #eceff2;
    margin-bottom: 10px;
}
.feedbackInfoTitle{
    padding: 10px 20px 5px;
}
.feedbackTime{
    float: right;
    margin-right: 30px;
    color: #898d92;
}
.feedbackInfoContent,.feedbackInfoContact{
    padding: 5px 20px;
    color: #898d92;
}
.feedbackInfoContentWord,.contactInfo{
    color: #474747;
}
.feedbackName{
    color: #38b7ea;
}
/*悄悄话*/
.userPrivateWord{
    padding: 1.25rem;
}
.userPrivateWord ul{
    margin-bottom: 0;
}
.userPrivateWord ul li a{
    text-decoration: none;
    cursor: pointer;
}
.userPrivateWordReply{
    padding: 0.25rem 1.25rem 4.25rem 1.25rem;
    display: none;
    margin-bottom: 10px;
}
.replyTextarea{
    padding: 5px 15px;
    width: 100%;
    height: 80px;
    font-size: 13px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    background-color: hsla(0,0%,71%,.1);
    resize: none;
    vertical-align: top;
    outline-style: none;
}
.userPrivateWordReplyBtn{
    float: right;
    margin: 5px 0 5px 10px;
}
.userPrivateWordReplyCloseBtn{
    float: right;
    margin: 5px 5px 5px 0;
    background-color: white;
}
.userPrivateWordTime{
    display: block;
    float: right;
    margin: 5px;
}
.myNoReply{
    color: #ad0807;
    margin-top: 5px;
}
.myReply{
    color: #b5b5b5;
    margin-top: 5px;
}
/*文章管理*/
.subject{
    margin-top: 30px;
    padding-left: 1.5rem;
}
.subject h4{
    margin: 50px 0 0 20px;
}
.articles{
    margin-top: 30px;
}
.articles td,th{
    border: 1px solid #eceff2;
}
.articles table{
    border-collapse: collapse;
    border: 1px solid #eceff2;
}
.articleManagementBtn{
    margin-right: 10px;
}
/*p评论管理*/
.msgHead{
    font-size: 14px;
}
.msgPerson{
    color: #3399ea;
    display: inline-block;
    margin: 0 8px 0 8px;
}
.msgHead a:hover{
    text-decoration: underline;
    color: #3399ea;
}
.msgType{
    display: inline-block;
    height: 20px;
    line-height: 18px;
    padding: 0 5px;
    color: #4d4d4d;
    font-size: 12px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #e0e0e0;
}
.msgTxt{
    display: block;
    margin-top: 8px;
    margin-bottom: 0px;
    padding: 0;
    color: #4d4d4d;
}
.msgTxt .articleTitle{
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 30px;
}
.msgDate{
    font-style: normal;
    color: #ccc;
    float: right;
}
.msgIsRead:hover{
    color: #3399ea;
}
.navigationBar{
    margin-bottom: 10px;
}
.msgReadTop{
    margin: 5px auto 10px;
}
.noNews{
    height: 30px;
    background: #f0f0f0;
    text-align: center;
    opacity: .5;
    line-height: 30px;
}
/*未读消息红点*/
.msgReadSign{
    content: " ";
    border: 3px solid red;
    border-radius:3px;
    position: absolute;
    transform: translate(-8px,10px);
}
.addCategory,.subCategory{
    cursor: pointer;
    color: #3399ea;
}
/*文章分类*/
.category{
    margin: 5px;
    padding: 10px 7px;
    border-radius: 0.25rem;
    background-color: #6c757d;
    color: #fff !important;
    line-height: 1;
    text-align: center;
    font-size: 80%;
    display: inline-block;
}
/*友联管理*/
.friendLinkManagement td,th{
    border: 1px solid #eceff2;
}
.friendLinkManagement table{
    border-collapse: collapse;
    border: 1px solid #eceff2;
}
.friendLinkManagementBtn{
    margin-right: 10px;
}
.addFriendLink,.subFriendLink,.addReward{
    cursor: pointer;
}
/*募捐管理*/
.table thead{
    font-size: 16px;
}
.table th{
    border: 1px solid #ddd!important;
}
.am-table-striped > tbody > tr:nth-child(2n+1) > td, .am-table-striped > tbody > tr:nth-child(2n+1) > th{
    background-color: white;
}
.table tbody th{
    font: inherit;
}
.is-me{
    margin-left: 1px;
    padding: .15em .425em;
}
.addRewardForm{
    text-align: left;
    margin-bottom: 0;
}
.addRewardForm label{
    margin-bottom: 25px;
    width: 70px;
}
#rewardUrl{
    display: inline-block;
}