@media screen and (min-width: 768px) {
    /*设置左侧点击样式*/
    #personalDate{
        display: block;
        margin-top: 50px;
        margin-left: 170px;
        width: 60%;
    }
    #basicSetting,#privateWord{
        display: none;
        margin-top: 50px;
        margin-left: 170px;
        width: 60%;
    }
    .personalDateForm label{
        font-size: 17px;
        color: #969696;
        width: 150px;
    }
    #basicSettingForm label{
        font-size: 17px;
        color: #969696;
        width: 150px;
    }
    .successNoticeAlert{
        display: none;
        position: absolute;
        top:0%;
        left:40%;
        border: 1px solid #62c812;
        color: #62c812;
        padding:10px 25px;
        border-radius: 5px;
    }
    .dangerNoticeAlert{
        display: none;
        position: absolute;
        top:0%;
        left:40%;
        border: 1px solid #bb4a3c;
        color: #ff3023;
        padding:10px 25px;
        border-radius: 5px;
    }
    .msgIsRead{
        float: right;
        margin-right: 150px;
        cursor: pointer;
        color: #3399ea;
    }
    .msgRead{
        padding-bottom: 10px;
        margin-right: 150px;
        position: relative;
    }
}
@media screen and (max-width: 768px) {
    /*设置左侧点击样式*/
    #personalDate{
        display: block;
        margin-top: 50px;
        margin-left: 20px;
        width: 90%;
    }
    #basicSetting{
        display: none;
        margin-top: 50px;
        margin-left: 20px;
        width: 90%;
    }
    .personalDateForm label{
        font-size: 17px;
        color: #969696;
        width: 100px;
    }
    #basicSettingForm label{
        font-size: 17px;
        color: #969696;
        width: 100px;
    }
    .zhy-privateWord{
        padding: 30px 20px;
    }
    .successNoticeAlert{
        display: none;
        position: absolute;
        top:0%;
        left:30%;
        border: 1px solid #62c812;
        color: #62c812;
        padding:10px 25px;
        border-radius: 5px;
    }
    .dangerNoticeAlert{
        display: none;
        position: absolute;
        top:0%;
        left:30%;
        border: 1px solid #bb4a3c;
        color: #ff3023;
        padding:10px 25px;
        border-radius: 5px;
    }
    .msgIsRead{
        float: right;
        margin-right: 30px;
        cursor: pointer;
        color: #3399ea;
    }
    .msgRead{
        padding-bottom: 10px;
        margin-right: 30px;
        position: relative;
    }
}
#leaveWord,#commentMessage{
    display: none;
    margin-bottom: 150px;
}
#privateWord{
    display: none;
}
.clickLi a:hover{
    text-decoration: none;
    cursor: pointer;
    background-color: #F0F0F0;
}
.userInfo{
    margin-bottom: 150px;
}
/*更改头像按钮*/
.headPortraitChange a {
    text-decoration: none;
    color: #4aaa4a;
    display: block;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    text-align: center;
    cursor: pointer;
}
.headPortraitChange:hover{
    background-color: #4aaa4a;
}
.headPortraitChange:hover a{
    color: white;
}
.headPortraitChange{
    display: inline-block;
    width: 90px;
    position: relative;
    background: white;
    border: 1px solid #4aaa4a;
    border-radius: 25px;
    height: 40px;
    line-height: 40px;
    transform: translateY(15px);
}
.headPortraitChange input{
    display: block;
    width: 100%;
    height: 45px;
    opacity: 0;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
}
.headChange{
    display: inline-block;
    margin-left: 48px;
}
/*个人资料*/
.headPortrait{
    width: 100px;
    height: 100px;
    display: inline-block;
}
.headPortrait img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.headPortraitChangeBtn{
    background-color: white;
    color: #c85e0b;;
}
.personalDateForm{
    margin-top: 40px;
}
.formInput{
    padding: 5px 10px;
    font-size: 15px;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    background-color: hsla(0,0%,71%,.1);
}
.userInfo hr{
    margin-top: 23px;
}
.phone{
    display: inline-block;
    padding: 5px 0;
    font-size: 15px;
}
.phoneCheck{
    padding: 0 10px;
    font-size: 12px;
    color: #969696;
}
.personalDateForm textarea{
    height: 100px;
    width: 65%;
}
.savePersonalDateBtn,.changePasswordBtn{
    border-radius: 65px;
    margin-bottom: 70px;
}
.notice{
    text-align: center;
}
/*安全设置*/
#authCode{
    width: 110px;
}
/*悄悄话*/
.word{
    display: block;
    line-height: 25px;
    font-size: 15px;
    font-family: 幼圆;
}
#userSay{
    height: 100px;
    width: 100%;
    padding: 5px 10px;
    font-size: 15px;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    background-color: hsla(0,0%,71%,.1);
}
.userSayBtn{
    float: right;
}
.yesterday{
    margin-top: 70px;
    margin-bottom: 150px;
}
.noYesterday{
    height: 30px;
    background: #f0f0f0;
    text-align: center;
    opacity: .5;
    line-height: 30px;
    margin-bottom: 150px;
}
.say{
    background-color: hsla(0,0%,71%,.1);
    padding: 3px 10px 0;
    margin-bottom: 5px;
}
.youSayTime{
    text-align: center;
    font-family: 隶书;
    font-size: 15px;
    color: #cc2808;
    margin-bottom: 10px;
}
.you{
    text-align: left;
    font-size: 13px;
    color: #3068b6;
}
.me{
    text-align: right;
    font-size: 13px;
    color: #90b610;
}
.noReply{
    color: red;
}
/*评论留言*/
.leaveMessageTitle{
    padding: 10px 110px 10px 0!important;
}
.leaveMessageContent{
    padding: 2px 80px 5px 0;
    display: inline-block;
    color: #999;

}
.reply{
    display: inline-block;
    position: absolute;
    right: 5px;
    padding: 5px 0;
}
.noNews{
    height: 30px;
    background: #f0f0f0;
    text-align: center;
    opacity: .5;
    line-height: 30px;
}
/*p评论管理*/
.msgContent{
    margin-left: 2px;
}
.msgReadSign{
    content: " ";
    border: 3px solid red;
    border-radius:3px;
    position: absolute;
    transform: translate(-8px,10px);
}
.msgCommentMessage{
    margin-top: 30px;
    padding-left: 1.5rem;
}
.msgHead{
    font-size: 14px;
}
.msgPerson{
    color: #3399ea;
    display: inline-block;
    margin: 0 8px 0 8px;
}
.msgHead a:hover{
    text-decoration: underline;
    color: #3399ea;
}
.msgType{
    display: inline-block;
    height: 20px;
    line-height: 18px;
    padding: 0 5px;
    color: #4d4d4d;
    font-size: 12px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #e0e0e0;
}
.msgTxt{
    display: block;
    margin-top: 8px;
    margin-bottom: 0px;
    padding: 0;
    color: #4d4d4d;
}
.msgTxt .articleTitle{
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 30px;
}
.msgDate{
    font-style: normal;
    color: #ccc;
    float: right;
}
.msgIsRead:hover{
    color: #3399ea;
}
.navigationBar{
    margin-bottom: 10px;
}
.msgReadTop{
    margin: 5px auto 10px;
}
.msgCommentMessage hr{
    margin-top: 15px;
}
/*留言管理*/
.msgLeaveMessage{
    margin-top: 30px;
    padding-left: 1.5rem;
}
.msgLeaveMessage hr{
    margin-top: 15px;
}
.msgHref{
    margin-left: 5px;
}