<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>我的世界只有你</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Cache-Control" content="no-siteapp"/>

	<link rel="icon" type="image/x-icon" href="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/favicon.ico">
	<script async src="http://c.cnzz.com/core.php"></script>
	<link rel="stylesheet" href="css/ali.min.css">

	<script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="js/ali/all.min.js"></script>
	<script src="js/ali/love.min.js"></script>
</head>

<body>
	<div class="flowtime">
		<div class="ft-section section-1" data-id="section-1">
			<div id="/section-1/page-1" class="ft-page page-1" data-id="page-1">
				<p class="text1"><span id="text-75" contenteditable="true">阿狸</span> ❤ <span id="text-76" contenteditable="true">桃子</span> <span id="text-77" contenteditable="true">一生一世</span></p>
				<p class="text2">按下 "↓" 键<span id="text-78" contenteditable="true">开始倾听我的表白</span></p>
			</div>
			<div id="/section-1/page-2" class="ft-page page-2" data-id="page-2">
				<p class="top-text" id="text-1" contenteditable="true">过去的阿狸一直是一个人生活，享受着孤独，也憧憬着爱情。</p>
				<img src='img/ali/iali63.jpg'  alt="过去的阿狸一直是一个人生活，享受着孤独，也憧憬着爱情。" />
			</div>
			<div id="/section-1/page-3" class="ft-page page-3 left-img" data-id="page-3">
				<h2 class="text" id="text-2" contenteditable="true">一个人的长廊</h2>
				<img src='img/ali/iali35.jpg'  alt="一个人的长廊"/>
			</div>
			<div id="/section-1/page-4" class="ft-page page-4 full-img" data-id="page-4">
				<h2 class="center-text" id="text-3" contenteditable="true">一个人的山岗</h2>
				<img src='img/ali/iali6.jpg'  alt="一个人的山岗" />
			</div>
		</div>
		<div class="ft-section section-2" data-id="section-2">
			<div id="/section-2/page-1" class="ft-page page-5 full-img" data-id="page-1">
				<h2 class="center-text" id="text-4" contenteditable="true">一个人的地铁</h2>
				<img src='img/ali/iali19.jpg'  alt="一个人的山岗" />
			</div>
			<div id="/section-2/page-2" class="ft-page page-6" data-id="page-2">
				<h2 class="center-text" id="text-5" contenteditable="true">一个人的游乐场</h2>
				<img src='img/ali/iali29.jpg' alt="一个人的游乐场"/>
			</div>
			<div id="/section-2/page-3" class="ft-page page-7" data-id="page-3">
				<h3 id="text-6" contenteditable="true">但他依然乐观，微笑着，等待着</h3>
				<img src='img/ali/iali60.jpg'  alt="但他依然乐观，微笑着，等待着"/>
			</div>
			<div id="/section-2/page-4" class="ft-page page-8 full-img" data-id="page-4">
				<h3 id="text-7" contenteditable="true">生活难免有风风雨雨</h3>
				<img src='img/ali/iali51.jpg' alt="生活难免有风风雨雨" />
			</div>
			<div id="/section-2/page-5" class="ft-page page-9" data-id="page-5">
				<h3 id="text-8" contenteditable="true">他总是能够轻松的应对</h3>
				<img src='img/ali/iali5.jpg' />
			</div>
			<div id="/section-2/page-6" class="ft-page page-10" data-id="page-6">
				<h3 id="text-9" contenteditable="true">并且面带阳光、自信的笑容</h3>
				<img src='img/ali/iali22.jpg' />
			</div>
		</div>
		<div class="ft-section section-3" data-id="section-3">
			<div id="/section-3/page-1" class="ft-page page-11 full-img" data-id="page-1">
				<h3 id="text-10" contenteditable="true">生活也不会总是一帆风顺</h3>
				<img src='img/ali/iali24.jpg'  />
			</div>
			<div id="/section-3/page-2" class="ft-page page-12" data-id="page-2">
				<h3><span id="text-11" contenteditable="true">但他每次都能勇敢的面对</span><br /><span id="text-12" contenteditable="true">随时准备接受生活的挑战</span></h3>
				<img src='img/ali/iali25.jpg' />
			</div>
			<div id="/section-3/page-3" class="ft-page page-13" data-id="page-3">
				<img src='img/ali/iali64.jpg' alt='可是阿狸的爱情又在哪里呢？' />
				<h3 id="text-13" contenteditable="true">可是阿狸的爱情又在哪里呢？</h3>
			</div>
			<div id="/section-3/page-4" class="ft-page page-14 left-img" data-id="page-4">
				<h3 id="text-14" contenteditable="true">在镜子里面吗？他不敢相信</h3>
				<img src='img/ali/iali46.jpg' />
			</div>
			<div id="/section-3/page-5" class="ft-page page-15 left-img" data-id="page-5">
				<h3><span id="text-15" contenteditable="true">他去问大树，我的爱情在哪里？</span><br /><span id="text-16" contenteditable="true">大树告诉他，也许就在你的前方</span></h3>
				<img src='img/ali/iali45.jpg' />
			</div>
			<div id="/section-3/page-6" class="ft-page page-16 left-img" data-id="page-6">
				<h3><span id="text-17" contenteditable="true">于是，阿狸一个人继续向前走</span><br /><span id="text-18" contenteditable="true">走在茫茫的雪地上</span></h3>
				<img src='img/ali/iali66.jpg' />
			</div>
			<div id="/section-3/page-7" class="ft-page page-17 top-text" data-id="page-7">
				<h3 id="text-19" contenteditable="true">直到有一天阿狸与桃子相遇了</h3>
				<img src='img/ali/iali16.jpg' />
			</div>
		</div>
		<div class="ft-section section-4" data-id="section-4">
			<div id="/section-4/page-1" class="ft-page page-18 full-img" data-id="page-1">
				<p class="text" id="text-20" contenteditable="true">阿狸喜欢桃子，因为桃子的出现，阿狸脸上有了更加灿烂的笑容</p>
				<img src='img/ali/iali11.jpg'  />
			</div>
			<div id="/section-4/page-2" class="ft-page page-19" data-id="page-2">
				<h3 id="text-21" contenteditable="true">可是桃子会喜欢阿狸吗？</h3>
				<img src="img/ali/iali75.jpg" />
			</div>
			<div id="/section-4/page-3" class="ft-page page-20" data-id="page-3">
				<img src='img/ali/iali59.png' />
				<h3 id="text-22" contenteditable="true">终于有一天，阿狸鼓起了勇气</h3>
				<img src='img/ali/iali9.jpg' />
			</div>
			<div id="/section-4/page-4" class="ft-page page-21" data-id="page-4">
				<h3 id="text-23" contenteditable="true">阿狸好高兴</h3>
				<img src='img/ali/iali59.png' />
			</div>
			<div id="/section-4/page-5" class="ft-page page-22 left-img" data-id="page-5">
				<h3 id="text-24" contenteditable="true">每天阿狸都会跟桃子聊天</h3>
				<img src='img/ali/iali4.jpg' />
			</div>
			<div id="/section-4/page-6" class="ft-page page-23 left-img" data-id="page-6">
				<h3 id="text-25" contenteditable="true">然后两个人一起憧憬未来</h3>
				<img src='img/ali/iali44.jpg' />
			</div>
			<div id="/section-4/page-7" class="ft-page page-24 full-img" data-id="page-7">
				<h3 id="text-26" contenteditable="true">一起想象以后在一起的日子</h3>
				<img src='img/ali/iali32.jpg' />
			</div>
		</div>
		<div class="ft-section section-5" data-id="section-5">
			<div id="/section-5/page-1" class="ft-page page-25 left-img" data-id="page-1">
				<h3><span id="text-27" contenteditable="true">从今开始</span><br /><span id="text-28" contenteditable="true">阿狸上班都是开心的</span></h3>
				<img src='img/ali/iali37.jpg' />
			</div>
			<div id="/section-5/page-2" class="ft-page page-26 top-text" data-id="page-2">
				<h3 id="text-29" contenteditable="true">每次高兴地进入梦乡，都会梦到桃子</h3>
				<img src='img/ali/iali10.gif' />
			</div>
			<div id="/section-5/page-3" class="ft-page page-27" data-id="page-3">
				<h3 id="text-30" contenteditable="true">曾经一段时间阿狸就成为了桃子的逛街助手</h3>
				<img src='img/ali/iali67.jpg'  />
			</div>
			<div id="/section-5/page-4" class="ft-page page-28" data-id="page-4">
				<h3 id="text-31" contenteditable="true">阿狸和桃子一起去了好多地方玩</h3>
				<img src='img/ali/iali40.jpg' />
			</div>
			<div id="/section-5/page-5" class="ft-page page-29" data-id="page-5">
				<h3 id="text-32" contenteditable="true">阿狸也和桃子一样成为了一个吃货</h3>
				<img src='img/ali/iali12.jpg' />
			</div>
			<div id="/section-5/page-6" class="ft-page page-30" data-id="page-6">
				<h3 id="text-33" contenteditable="true">后来，他们搬到了一起</h3>
				<img src='img/ali/iali76.gif' />
			</div>
			<div id="/section-5/page-7" class="ft-page page-31" data-id="page-7">
				<h3 id="text-34" contenteditable="true">于是阿狸开始学习新的技能</h3>
				<img src='img/ali/iali77.jpg' />
			</div>
		</div>
		<div class="ft-section section-6" data-id="section-6">
			<div id="/section-6/page-1" class="ft-page page-32" data-id="page-1">
				<h3 id="text-35" contenteditable="true">煮饭</h3>
				<img src='img/ali/iali62.jpg'  />
			</div>
			<div id="/section-6/page-2" class="ft-page page-33 top-text" data-id="page-2">
				<h3 id="text-36" contenteditable="true">每天早上，他们吃着自己做的美食</h3>
				<img src='img/ali/iali3.jpg' />
			</div>
			<div id="/section-6/page-3" class="ft-page page-34 left-img" data-id="page-3">
				<h3 id="text-37" contenteditable="true">然后在同一个站台，高高兴兴的一起出去</h3>
			</div>
			<div id="/section-6/page-4" class="ft-page page-35" data-id="page-4">
				<h3><span id="text-38" contenteditable="true">阿狸感觉自己好幸福。</span><br /><span id="text-39" contenteditable="true">因为自己有了家</span><br /><span id="text-40" contenteditable="true">那个有桃子在的地方</span></h3>
				<img src='img/ali/iali8.gif' />
			</div>
			<div id="/section-6/page-5" class="ft-page page-36 full-img" data-id="page-5">
				<h3 id="text-41" contenteditable="true">他们偶尔也会吵架</h3>
				<img src='img/ali/iali31.jpg' />
			</div>
			<div id="/section-6/page-6" class="ft-page page-37 left-img" data-id="page-6">
				<h3 id="text-42" contenteditable="true">阿狸不想这样</h3>
				<img src='img/ali/iali49.jpg' />
			</div>
			<div id="/section-6/page-7" class="ft-page page-38 bottom-text" data-id="page-7">
				<img src='img/ali/iali21.jpg' />
				<h3 id="text-43" contenteditable="true">一定是我有什么做的不对，阿狸在想</h3>
			</div>
		</div>
		<div class="ft-section section-7" data-id="section-7">
			<div id="/section-7/page-1" class="ft-page page-39 left-img" data-id="page-1">
				<h3 id="text-44" contenteditable="true">如果没有桃子在身边，窗外就没有风景</h3>
				<img src='img/ali/iali2.jpg' />
			</div>
			<div id="/section-7/page-2" class="ft-page page-40" data-id="page-2">
				<h3 id="text-45" contenteditable="true">如果没有桃子在身后</h3>
				<img src='img/ali/iali14.jpg'  />
			</div>
			<div id="/section-7/page-3" class="ft-page page-41" data-id="page-3">
				<img src='img/ali/iali30_1.jpg' class='img1'/>
				<img src='img/ali/iali30_2.jpg' class='img2'/>
				<h3 id="text-46" contenteditable="true"> 阿狸又怎会飞的更高更远</h3>
			</div>
			<div id="/section-7/page-4" class="ft-page page-42" data-id="page-4">
				<h3><span id="text-47" contenteditable="true">阿狸不想这样。他要为桃子改变自己</span><br /><span id="text-48" contenteditable="true">桃子说她喜欢喜欢帮助他们家的人，于是阿狸许下愿望</span></h3>
				<img src='img/ali/iali69.jpg'  />
			</div>
			<div id="/section-7/page-5" class="ft-page page-43" data-id="page-5">
				<img src='img/ali/iali42.jpg' />
				<h3 id="text-49" contenteditable="true">我愿为你变成什么都会修的人</h3>
			</div>
			<div id="/section-7/page-6" class="ft-page page-44 left-img" data-id="page-6">
				<h3><span id="text-50" contenteditable="true">爱情就像花草一样</span><br /><span id="text-51" contenteditable="true">需要用包容来浇灌</span></h3>
				<img src='img/ali/iali0.jpg' />
			</div>
			<div id="/section-7/page-7" class="ft-page page-45 left-img" data-id="page-7">
				<h3><span id="text-52" contenteditable="true">阿狸很幸福，要过生日了</span><br /><span id="text-53" contenteditable="true">桃子开始为阿狸准备礼物</span></h3>
				<img src='img/ali/iali18.jpg' />
			</div>
		</div>
		<div class="ft-section section-8" data-id="section-8">
			<div id="/section-8/page-1" class="ft-page page-46" data-id="page-1">
				<img src='img/ali/iali57.gif' />
				<h3>
					<span id="text-54" contenteditable="true">看着礼物</span>
					<span id="text-55" contenteditable="true">阿狸好开心</span>
					<span id="text-56" contenteditable="true">因为他知道她对他的心意</span>
					<span id="text-57" contenteditable="true">可惜的是阿狸没有送给桃子过</span>
				</h3>
			</div>
			<div id="/section-8/page-2" class="ft-page page-47 top-text" data-id="page-2">
				<img src='img/ali/iali58.jpg' />
				<h3>
					<span id="text-58" contenteditable="true">想想后面还有一辈子</span>
					<span id="text-59" contenteditable="true">阿狸好开心</span>
					<span id="text-60" contenteditable="true">因为可以和她</span>
					<span id="text-61" contenteditable="true">去全世界好多地方玩</span></h3>

			</div>
			<div id="/section-8/page-3" class="ft-page page-48 left-img" data-id="page-3">
				<p><span id="text-62" contenteditable="true">阿狸也会继续努力</span><br /><span id="text-63" contenteditable="true">为了他和桃子的梦之城堡</span></p>
				<img src='img/ali/iali65.jpg'  />
			</div>
			<div id="/section-8/page-4" class="ft-page page-49 full-img" data-id="page-4">
			<img src='img/ali/iali71.jpg' />
				<p class="text">
					<span class='text' id="text-64" contenteditable="true">阿狸很幸福，因为他找到了桃子。他相信后面的每天都会是快乐的</span><br />
					<span class='text' id="text-65" contenteditable="true">简简单单，体会着与桃子在一起的每一个刻</span>
				</p>
			</div>
			<div id="/section-8/page-5" class="ft-page page-50" data-id="page-5">
				<p class='text' id="text-66" contenteditable="true">后来的一天，桃子说他不喜欢他抽烟，于是阿狸就拼了命的戒烟。这只是他们幸福生活中的一件小事，小到无法引起别人的注意。可这是属于阿狸和桃子的幸福生活。</p>
				<img src='img/ali/iali50_1.jpg' class='img1' />
				<img src='img/ali/iali50_2.jpg' class='img2' />
			</div>
			<div id="/section-8/page-6" class="ft-page page-51" data-id="page-6">
				<p>
					<span id="text-67" contenteditable="true">桃子：永远有多远？</span><br />
					<span id="text-68" contenteditable="true">阿狸：比时间多一秒就是永远，我会永远爱你</span><br />
					<span id="text-69" contenteditable="true">桃子：世界有多大？</span><br />
					<span id="text-70" contenteditable="true">阿狸：你走到哪里，世界就有多大</span>
					</p>
			</div>
		</div>
		<div class="ft-section section-9" data-id="section-9">
			<div id="/section-9/page-1" class="ft-page page-52 full-img" data-id="page-1">
				<h3 id="text-71" contenteditable="true">愿得一人心，白首不相离</h3>
				<img src='img/ali/iali20.jpg'  />
			</div>
			<div id="/section-9/page-2" class="ft-page page-53" data-id="page-2">
				<img src='img/ali/iali68.jpg' alt='happy birthday' />
				<h3 id="text-72" contenteditable="true">情人节快乐</h3>
			</div>
			<div id="/section-9/page-3" class="ft-page page-54 center-img" data-id="page-3" >
				<div class="center-img">I love you</div>
			</div>
			<div id="/section-9/page-4" class="ft-page page-55 right-img" data-id="page-4">
				<img src='img/ali/14915.jpg' />
				<p class="text">
					<span id="text-73" contenteditable="true">阿狸和桃子的故事会一直继续下去。</span><br />
					<span id="text-74" contenteditable="true">无论精彩、平淡都会是他们喜欢的。</span><br />
					<br />
					<br />
					<span> -- 按“Esc"键有惊喜</span>
				</p>
			</div>
		</div>
	</div>
	<div class="nojavascript">您的浏览器版本太低或禁用了javascript，无法正常浏览本页面</div>
	<audio id="bgmMusic" src="music/saveme.mp3" autoplay="autoplay" loop preload="auto" type="audio/mp3"></audio>

<div class="mPower"><span id="on" title="点击暂停"></span><span id="off" title="点击播放"></span></div>
</body>
</html>