<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>分类 | 程序猿张先森</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords" content="博客,个人,学习,IT,生活,张海洋,程序猿,springboot,java,后端，分类">
    <meta name="description" content="张海洋，正宗97后，爱编程。喜欢旅行、摄影、爱生活。专注于Spring,SpringBoot等后端技术探索，以及MySql,Oracle数据库开发和SSM,SSH等后端流行框架学习。">

    <link rel="icon" type="image/x-icon" href="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/favicon.ico">
    <link href="https://lib.baomitu.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/tags.css">
    <link rel="stylesheet" href="css/comment.css">
    <link rel="stylesheet" href="css/categories.css">
    <link rel="stylesheet" href="css/plugs_paging.css">
    <link href="https://lib.baomitu.com/font-awesome/5.8.0/css/fontawesome.min.css" rel="stylesheet">

    <script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://lib.baomitu.com/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="https://lib.baomitu.com/amazeui/2.7.2/js/amazeui.min.js"></script>
</head>
<body>
<div id="app">
    <!--引入共有头部-->
    <div th:replace="header :: header"></div>
    <!--页面主体-->
    <div id="main">
        <div class="am-container">
            <div class="am-g">
                <div class="site-inner">
                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="categories">
                            <div class="categories-title">
                                <h3 style="font-size: 20px">Categories</h3>
                            </div>
                            <div class="categories-comment">

                            </div>
                        </div>
                    </div>

                    <div class="am-u-sm-12 am-u-md-9">
                        <div class="categoryTimeline">
                            <!--消除留言先加载视觉效果-->
                            <div class="timeline timeline-wrap">
                                <div class="timeline-row">
                                    <span class="node" style="-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;">
                                        <i class=""></i>
                                    </span>
                                    <h1 class="title"></h1>
                                </div>
                                <div class="timeline-row-major">
                                    <div style="height: 88.4px">
                                    </div>
                                </div>
                                <div class="timeline-row-major">
                                    <div style="height: 88.4px">
                                    </div>
                                </div>
                                <div class="timeline-row-major">
                                    <div style="height: 88.4px">
                                    </div>
                                </div>
                                <div class="timeline-row-major">
                                    <div style="height: 88.4px">
                                    </div>
                                </div>
                                <div class="timeline-row-major">
                                    <div style="height: 88.4px">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment" style="margin: 100px auto 50px">
                            <div class="comment-top">
                                <div class="comment-top-input" th:if="${#httpServletRequest.remoteUser}">
                                    <textarea id="comment" placeholder="客官，来说两句吧..."></textarea>
                                </div>
                                <div class="comment-top-input" th:unless="${#httpServletRequest.remoteUser}">
                                    <div class="goToLogin">
                                        &nbsp;&nbsp;&nbsp;<a id="toLogin">登录</a>后才可以发表留言呦...
                                    </div>
                                </div>
                                <div class="commentBtn">
                                    <button id="commentBtn" type="button" class="am-btn am-btn-secondary">发表留言</button>
                                </div>
                            </div>
                            <div class="comment-bottom">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--引入共有底部-->
    <div th:replace="footer :: footer"></div>
    <!--消息盒子+反馈-->
    <div th:replace="other :: other"></div>
</div>

<script src="js/all.js"></script>
<script src="js/leaveMessage.js"></script>
<script src="js/categories.js"></script>
<script src="js/plugs_paging.js"></script>
</body>
</html>