<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>程序猿张先森 | 登录</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="keywords" content="博客,个人,学习,IT,生活,张海洋,程序猿,springboot,java,后端，登录">
    <meta name="description" content="张海洋，正宗97后，爱编程。喜欢旅行、摄影、爱生活。专注于Spring,SpringBoot等后端技术探索，以及MySql,Oracle数据库开发和SSM,SSH等后端流行框架学习。">

    <link rel="icon" type="image/x-icon" href="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/favicon.ico">
    <link href="https://cdn.bootcss.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/login.css">

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/amazeui/2.7.2/js/amazeui.min.js"></script>
</head>
<body>
<div id="app">
    <div class="header">
        <div class="am-topbar" style="margin-bottom: 0">
            <h1 class="am-topbar-brand">
                <a href="/" class="blogTitleName"><img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/zhy.png" class="imgStyle">程序猿张先森</a>
            </h1>
            <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" style="background-color: #CCCCCC;border-color: white;border-radius: 6px" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

            <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
                <ul class="am-nav am-nav-pills am-topbar-nav">
                    <li><a class="top_bar" href="/" style="cursor: pointer;"><span class="fa fa-home"></span>&nbsp;首页</a></li>
                    <li><a class="top_bar" href="/categories" style="cursor: pointer;"><span class="fa fa-th"></span>&nbsp;分类</a></li>
                    <li><a class="top_bar" href="/archives" style="cursor: pointer;"><span class="fa fa-archive"></span>&nbsp;归档</a></li>
                    <li><a class="top_bar" href="/tags" style="cursor: pointer;"><span class="fa fa-tags"></span>&nbsp;标签</a></li>
                    <li><a class="top_bar" href="/update" style="cursor: pointer;"><span class="fa fa-calendar-plus-o"></span>&nbsp;更新</a></li>
                    <li><a class="top_bar" href="/friendlylink" style="cursor: pointer;"><span class="fa fa-street-view"></span>&nbsp;友链</a></li>
                    <li><a class="top_bar" href="/aboutme" style="cursor: pointer;"><span class="fa fa-user"></span>&nbsp;关于我</a> </li>
                </ul>

                <div class="am-topbar-right" th:if="${#httpServletRequest.remoteUser}">
                    <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
                        <button class="personalSpace am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle" data-am-dropdown-toggle><span sec:authentication="name"></span> <span class="am-icon-caret-down"></span></button>
                        <ul class="am-dropdown-content">
                            <li><a href="/user" sec:authorize="hasRole('ROLE_USER')">个人主页</a></li>
                            <li><a href="/superadmin" sec:authorize="hasRole('ROLE_SUPERADMIN')">网站后台管理</a></li>

                            <li><a class="feedbackClick">反馈</a></li>
                            <hr style="margin: 10px 0 5px 0;">
                            <li><a th:href="@{/logout}">退出登录</a></li>
                        </ul>
                    </div>
                </div>
                <div class="am-topbar-right" th:unless="${#httpServletRequest.remoteUser}">
                    <a href="/register" class="am-btn am-btn-primary am-topbar-btn am-btn-sm" style="color: white">注册</a>
                </div>
                <div class="am-topbar-right" th:unless="${#httpServletRequest.remoteUser}">
                    <a href="/login" class="loginBtn am-btn am-btn-primary am-topbar-btn am-btn-sm" style="color: white">登录</a>
                </div>
                <div class="am-topbar-right writing am-hide-md-down">
                    <a  href="/editor" target="_blank" style="text-decoration: none">
                        <img class="am-circle" src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/writing.png">
                        <span class="write-word">写博客</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div id="main" style="margin-bottom:0">
        <div class="i_love_you">
            <div class="am-g">
                <h1>I Love You</h1>
                <p>去找一个像太阳一样的人<br/>帮你晒晒所有不值一提的迷茫</p>
            </div>
            <hr />
        </div>
        <div class="am-g"  style="height: 420px;">

            <div class="am-u-lg-6 am-u-sm-9 am-u-sm-centered">
                <h3>登录</h3>
                <hr>
                <div>
                    <form th:action="@{/login}" method="post" class="am-form" >
                        <div  class="loginInput am-input-group am-u-lg-10 col-md-offset-2 am-form-icon am-form-feedback" style="margin-left: 0">
                            <div class="am-input-group-label"><i class="fa fa-phone fa-lg"></i></div>
                            <input type="text" name="username" class="am-form-field" id="phone" placeholder="客官，这里输入手机号哦">
                            <span id="phone_null" class="icons am-icon-warning" style="color: orange"></span>
                            <span id="phone_error" class="icons am-icon-times" style="color: red"></span>
                        </div>
                        <br>
                        <div class="loginInput am-input-group am-u-lg-10 col-md-offset-2 am-form-icon am-form-feedback" style="margin-left: 0">
                            <div class="am-input-group-label"><i class="fa fa-lock fa-lg"></i></div>
                            <input type="password" name="password" id="password" placeholder="嘘，在这里悄悄输入密码">
                            <span id="password_null" class="icons am-icon-warning" style="color: orange"></span>
                        </div>
                        <br/>
                        <div class="am-u-lg-10 col-md-offset-2">
                            <label class="rememberMe" for="remember-me">
                                <input id="remember-me" type="checkbox">
                                记住十万年
                            </label>
                        </div>
                        <br>
                        <div class="am-input-group am-u-lg-10 col-md-offset-2" style="margin-left: 0">
                            <input type="submit" id="loginFormSubmit" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl" style="border-radius: 5px">
                            <!-- 按钮触发模态框 -->
                            <button type="button" class="am-btn am-btn-default am-btn-sm am-fr " data-am-modal="{target: '#my-alert'}" style="border-radius: 5px">
                                忘记密码 ^_^?
                            </button>
                        </div>
                        <div class="login_error" th:if="${param.error}">
                            <span class="am-alert am-alert-secondary" data-am-alert style="margin-left: 15%;background-color: #d85a37;color: white;border-radius: 5px">用户名不存在或密码错误!</span>
                        </div>
                    </form>

                    <!-- 模态框（Modal） -->
                    <div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
                        <div class="am-modal-dialog" style="border-radius: 5px;">
                            <div class="am-modal-hd" style="text-align: left;margin:auto auto 5px 20px">客官，在这里修改密码呦
                                <a href="javascript: void(0)" class="am-close am-close-alt am-close-spin" data-am-modal-close style="margin: 7px 10px auto auto">&times;</a>
                            </div>
                            <div class="am-modal-bd">
                                <form id="modal_form" class="am-form am-form-horizontal">
                                    <div class="am-form-group">
                                        <label for="modal_phone" class="am-u-sm-4 am-form-label">手机号</label>
                                        <div class="am-u-sm-8 am-form-icon am-form-feedback">
                                            <input class="modal_value" type="text" id="modal_phone" placeholder="输入要修改的手机号哦">
                                            <span id="modal_phone_null" class="modal_icons am-icon-warning" style="color: orange"></span>
                                            <span id="modal_phone_error" class="modal_icons am-icon-times" style="color: red"></span>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="auth_code" class="am-u-sm-4 am-form-label">验证码</label>
                                        <div class="am-u-sm-4 am-form-icon am-form-feedback">
                                            <input class="modal_value" type="text" id="auth_code" placeholder="点我右边那家伙获取验证码">
                                            <span id="auth_code_null" class="modal_icons am-icon-warning" style="color: orange"></span>
                                            <span id="auth_code_error" class="modal_icons am-icon-times" style="color: red"></span>
                                        </div>
                                        <div class="am-u-sm-4" style="padding-left:0">
                                            <button type="button" id="msg_btn" class="am-btn am-btn-secondary am-round">获取验证码</button>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="new_password" class="am-u-sm-4 am-form-label">新密码</label>
                                        <div class="am-u-sm-8 am-form-icon am-form-feedback">
                                            <input class="modal_value" value="" type="password" id="new_password" placeholder="快来设置一个新密码吧">
                                            <span id="new_password_null" class="modal_icons am-icon-warning" style="color: orange"></span>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="check_password" class="am-u-sm-4 am-form-label">确认密码</label>
                                        <div class="am-u-sm-8 am-form-icon am-form-feedback">
                                            <input class="modal_value" value="" type="password" id="check_password" placeholder=再次确认一下新密码哦">
                                            <span id="modal_check_password_error" class="icons am-icon-times" style="color: red"></span>
                                            <span id="check_password_null" class="modal_icons am-icon-warning" style="color: orange"></span>
                                        </div>
                                    </div>
                                    <div class="phoneNotExit">
                                        <span class="modal_icons phoneNotExitSpan">手机号不存在,修改密码失败！</span>
                                    </div>
                                </form>
                            </div>
                            <div class="am-modal-footer" style="text-align: right">
                                <button type="button" id="change_password_cancel_btn" class="am-btn am-btn-default am-round" data-am-modal-close>取消</button>
                                <button type="button" id="change_password_btn" class="am-btn am-btn-warning am-round">确认修改</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer am-u-sm-centered">
            <div class="am-vertical-align" style="text-align: center">
                <hr>
                <div class="am-vertical-align-bottom">
                    <div style="color: #009688">
                        &copy; 2018 程序猿张先森 - <i class="fa fa-coffee" style="margin: 0 5px"></i>张海洋 版权所有
                    </div>
                    <div id="footer" style="color: #009688">
                        总访问量 <span id="totalVisitors"><strong></strong></span> 次  访客量 <span id="visitorVolume"><strong></strong></span> 人次
                    </div>
                    <div class="webLogo">
                        <a href="http://www.miitbeian.gov.cn" target="_blank">
                            蜀ICP备18000229号
                        </a>
                    </div>
                    <div class="webLogo">
                        <img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/webLog.png">
                        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51011402000164" target="_blank">
                            川公网安备 51011402000164号
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="sidebar_toggle" class="sidebar_toggle" data-am-offcanvas="{target: '#offCanvas'}">
            <div class="sidebar_toggle_line_wrap">
                <span class="sidebar-toggle-line sidebar-toggle-line-first" style="width: 100%; top: 0; transform: rotateZ(0deg); opacity: 1; left:0"></span>
                <span class="sidebar-toggle-line sidebar-toggle-line-middle" style="width: 100%; opacity: 1; left: 0; top: 0; transform: rotateZ(0deg);"></span>
                <span class="sidebar-toggle-line sidebar-toggle-line-last" style="width: 100%; top: 0; transform: rotateZ(0deg); opacity: 1; left: 0;"></span>
            </div>
        </div>
        <div id="offCanvas" class="am-offcanvas">
            <div class="am-offcanvas-bar am-offcanvas-bar-flip">
                <div class="am-offcanvas-content">
                    <div class="sidebar-inner">
                        <div class="site-overview">
                            <div class="img-author" style="text-align: center">
                                <p style="font-size: large;font-family: 仿宋">微信公众号</p>
                                <div id="weixin">
                                    <img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/weixin.jpg">
                                </div>
                                <div class="author-name">
                                    张海洋
                                </div>
                                <div class="author-words">
                                    <p>专注于Spring,SpringBoot等后端技术探索</p>
                                    <p>以及MySql,Oracle数据库开发和SSM,SSH等后端流行框架学习</p>
                                </div>

                            </div>
                            <div class="site-state" style="opacity: 1; display: block; transform: translateX(0px);">
                                <div class="site-state-item learn-posts">
                                    <a href="/archives">
                                        <span class="archivesNum site-state-item-count"></span>
                                        <span class="site-state-item-name">日志</span>
                                    </a>
                                </div>
                                <div class="site-state-item learn-categories">
                                    <a id="site-state-item-a" href="/categories">
                                        <span class="categoriesNum site-state-item-count"></span>
                                        <span class="site-state-item-name">分类</span>
                                    </a>
                                </div>
                                <div class="site-state-item learn-tags">
                                    <a href="/tags">
                                        <span class="tagsNum site-state-item-count"></span>
                                        <span class="site-state-item-name">标签</span>
                                    </a>
                                </div>
                            </div>
                            <div class="contact-way">
                                <span><i class="fa fa-qq">&nbsp;&nbsp;1125694337</i></span>
                                <span><i class="fa fa-wechat">&nbsp;&nbsp;zhy1125694337</i></span>
                            </div>
                            <div class="rss">
                                <div class="rss-site">
                                    <a class="rss-site-a" href="/rss">
                                        <i class="fa fa-rss"> RSS</i>
                                    </a>
                                </div>
                            </div>
                            <div class="author-words">
                                <p>本人目前本科生在读</p>
                                <p>由于水平有限，希望大家多多支持</p>
                                <p>有不足之处也希望各位前辈指出</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-am-widget="gotop" class="am-gotop am-gotop-fixed" >
            <a id="toTop"  href="#top">
            <span title="到顶部" style="color: white">
                <i class="fa fa-arrow-up"></i>
            </span>
            </a>
        </div>
    </div>
    <!--成功消息盒-->
    <div class="notice successNoticeAlert am-animation-slide-top">
        <span class="successNotice"></span>
    </div>
    <!--失败消息盒-->
    <div class="notice dangerNoticeAlert am-animation-slide-top">
        <span class="dangerNotice"></span>
    </div>
    <div class="feedback am-animation-slide-top">
        <a class="feedbackClose am-close am-close-alt am-close-spin am-icon-times"></a>
        <div class="feedbackTitle">
            反馈
        </div>
        <div class="feedbackWord">
            您对于本博客网站有任何意见或是存在Bug的地方，欢迎进行反馈
        </div>
        <div class="feedbackForm">
            <form class="am-form">
                <fieldset class="am-form-set">
                    <textarea id="feedbackFormContent" placeholder="非常感谢您抽出时间填写问题反馈。必填"></textarea>
                    <input type="text" class="feedbackFormQQ" placeholder="方便留下QQ或是微信联系你吗。选填">
                </fieldset>
                <button type="button" class="feedbackFormBtn am-btn am-btn-primary am-btn-block">提交反馈</button>
            </form>
        </div>

    </div>
</div>

<script src="js/login.js"></script>
<script src="js/all.js"></script>
</body>
</html>