<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>藏心阁 | 程序猿张先森</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords" content="博客,个人,学习,IT,生活,张海洋,程序猿,springboot,java,后端，友链">
    <meta name="description" content="张海洋，正宗97后，爱编程。喜欢旅行、摄影、爱生活。专注于Spring,SpringBoot等后端技术探索，以及MySql,Oracle数据库开发和SSM,SSH等后端流行框架学习。">

    <link rel="icon" type="image/x-icon" href="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/favicon.ico">
    <link href="https://lib.baomitu.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link href="https://lib.baomitu.com/font-awesome/5.8.0/css/fontawesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/myheart.css">

    <script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class="all">
    <canvas class="rain" style="position: fixed"></canvas>
    <div class="header">
        <h1 class="vintage4">张张张张先森啊</h1>
    </div>
    <div class="main">
        <div class="heart">
            <div class='topLeft'></div>
            <div class='topRight'></div>
            <div class='bottom'></div>
        </div>
        <div class="chooseBtn">
            <button type="button" class="yesterday am-btn am-btn-danger am-btn-xl">
                <i class="am-icon-mercury" style="margin-right: 5px"></i>
                往昔
            </button>
            <button type="button" class="today am-btn am-btn-warning am-btn-xl">
                <i class="am-icon-venus" style="margin-right: 5px"></i>
                今日
            </button>
        </div>
    </div>
</div>

<script src="js/rain.js"></script>
<script src="js/myheart.js"></script>
</body>
</html>