<!doctype html>
<html class="no-js fixed-layout" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>程序猿张先森 | 我的故事</title>
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/x-icon" href="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/favicon.ico">
    <meta name="keywords" content="博客,个人,学习,IT,生活,张海洋,程序猿,springboot,java,后端我的故事">
    <meta name="description" content="张海洋，正宗97后，爱编程。喜欢旅行、摄影、爱生活。专注于Spring,SpringBoot等后端技术探索，以及MySql,Oracle数据库开发和SSM,SSH等后端流行框架学习。">

    <link href="https://cdn.bootcss.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/admin.css">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/comment.css">
    <link rel="stylesheet" href="css/tags.css">
    <link rel="stylesheet" href="css/plugs_paging.css">
    <link rel="stylesheet" href="css/mystory.css">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="https://cdn.bootcss.com/amazeui/2.7.2/js/amazeui.min.js"></script>
</head>
<body>

<div class="header">
    <div class="am-topbar" style="margin-bottom: 0">
        <h1 class="am-topbar-brand">
            <a href="/" class="blogTitleName"><img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/zhy.png" class="imgStyle">程序猿张先森</a>
        </h1>
        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" style="background-color: #CCCCCC;border-color: white;border-radius: 6px" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li><a class="top_bar" href="/" style="cursor: pointer;"><span class="fa fa-home"></span>&nbsp;首页</a></li>
                <li><a class="top_bar" href="/categories" style="cursor: pointer;"><span class="fa fa-th"></span>&nbsp;分类</a></li>
                <li><a class="top_bar" href="/archives" style="cursor: pointer;"><span class="fa fa-archive"></span>&nbsp;归档</a></li>
                <li><a class="top_bar" href="/tags" style="cursor: pointer;"><span class="fa fa-tags"></span>&nbsp;标签</a></li>
                <li><a class="top_bar" href="/update" style="cursor: pointer;"><span class="fa fa-calendar-plus-o"></span>&nbsp;更新</a></li>
                <li><a class="top_bar" href="/friendlylink" style="cursor: pointer;"><span class="fa fa-street-view"></span>&nbsp;友链</a></li>
                <li><a class="top_bar" href="/aboutme" style="cursor: pointer;"><span class="fa fa-user"></span>&nbsp;关于我</a> </li>
            </ul>

            <div class="am-topbar-right" th:if="${#httpServletRequest.remoteUser}">
                <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
                    <button class="personalSpace am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle" data-am-dropdown-toggle><span sec:authentication="name"></span> <span class="am-icon-caret-down"></span></button>
                    <ul class="am-dropdown-content">
                        <li><a href="/user" sec:authorize="hasRole('ROLE_USER')">个人主页</a></li>
                        <li><a href="/superadmin" sec:authorize="hasRole('ROLE_SUPERADMIN')">网站后台管理</a></li>

                        <li><a class="feedbackClick">反馈</a></li>
                        <hr style="margin: 10px 0 5px 0;">
                        <li><a th:href="@{/logout}">退出登录</a></li>
                    </ul>
                </div>
            </div>
            <div class="am-topbar-right" th:unless="${#httpServletRequest.remoteUser}">
                <a href="/register" class="am-btn am-btn-primary am-topbar-btn am-btn-sm" style="color: white">注册</a>
            </div>
            <div class="am-topbar-right" th:unless="${#httpServletRequest.remoteUser}">
                <a href="/login" class="loginBtn am-btn am-btn-primary am-topbar-btn am-btn-sm" style="color: white">登录</a>
            </div>
            <div class="am-topbar-right writing am-hide-md-down">
                <a  href="/editor" target="_blank" style="text-decoration: none">
                    <img class="am-circle" src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/writing.png">
                    <span class="write-word">写博客</span>
                </a>
            </div>

        </div>
    </div>
</div>

<div class="am-cf admin-main" style="padding-top: 0">

    <!--左侧-->
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <ul class="userList am-list admin-sidebar-list">
                <li class="clickLi myStory" ><a><i class="fa fa-coffee fa-lg"></i> 我的故事</a></li>
                <li class="clickLi myPhoto"><a><i class="fa fa-image fa-lg"></i> 个人相册</a></li>
            </ul>
            <div class="am-panel am-panel-default admin-sidebar-panel">
                <div class="am-panel-bd">
                    <p><span class="am-icon-bookmark"></span> 曾今，意外，他和她相爱</p>
                    <p>时光静好，与君语；细水流年，与君同。—— 张先森</p>
                </div>
            </div>
        </div>
    </div>
    <!--右侧-->
    <div class="admin-content">
        <div class="userInfo">
            <div id="myStory">
                <div class="zhy-myStory">
                    <div class="myStoryPic">
                        <span class="myStoryPicWord">生活不止眼前的苟且</span>
                        <span class="storyWords"><i class="fa fa-coffee"></i> 有时间一起聊聊我们的故事吧</span>
                    </div>
                    <div class="myStoryContent">
                        <div class="timeline timeline-wrap">
                            <div class="timeline-row">
                                <span class="node" style="-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;">
                                    <i class="fa fa-coffee"></i>
                                </span>
                                <h1 class="title"></h1>
                            </div>
                            <div class="timeline-row-major">
                                <span class="node am-animation-slide-top am-animation-delay-1">
                                </span>
                                <div class="content am-comment-main am-animation-slide-top am-animation-delay-1">
                                    <header class="am-comment-hd" style="background: #fff">
                                        <div class="contentTitle am-comment-meta">
                                            <a href="#">士大夫士大夫</a>
                                        </div>
                                    </header>
                                    <div class="am-comment-bd">
                                        <i class="fa fa-calendar"><a href="#">sdf</a></i>
                                        <i class="fa fa-folder"> <a href="#">dfgdfga</a></i>
                                        <i class="am-comment-bd-tags fa fa-tag">所发生的</i>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-row-major">
                                <span class="node am-animation-slide-top am-animation-delay-1">
                                </span>
                                <div class="content am-comment-main am-animation-slide-top am-animation-delay-1">
                                    <header class="am-comment-hd" style="background: #fff">
                                        <div class="contentTitle am-comment-meta">
                                            <a href="#">士大夫士大夫</a>
                                        </div>
                                    </header>
                                    <div class="am-comment-bd">
                                        <i class="fa fa-calendar"><a href="#">sdf</a></i>
                                        <i class="fa fa-folder"> <a href="#">dfgdfga</a></i>
                                        <i class="am-comment-bd-tags fa fa-tag">所发生的</i>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-row-major">
                                <span class="node am-animation-slide-top am-animation-delay-1">
                                </span>
                                <div class="content am-comment-main am-animation-slide-top am-animation-delay-1">
                                    <header class="am-comment-hd" style="background: #fff">
                                        <div class="contentTitle am-comment-meta">
                                            <a href="#">士大夫士大夫</a>
                                        </div>
                                    </header>
                                    <div class="am-comment-bd">
                                        <i class="fa fa-calendar"><a href="#">sdf</a></i>
                                        <i class="fa fa-folder"> <a href="#">dfgdfga</a></i>
                                        <i class="am-comment-bd-tags fa fa-tag">所发生的</i>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-row-major">
                                <span class="node am-animation-slide-top am-animation-delay-1">
                                </span>
                                <div class="content am-comment-main am-animation-slide-top am-animation-delay-1">
                                    <header class="am-comment-hd" style="background: #fff">
                                        <div class="contentTitle am-comment-meta">
                                            <a href="#">士大夫士大夫</a>
                                        </div>
                                    </header>
                                    <div class="am-comment-bd">
                                        <i class="fa fa-calendar"><a href="#">sdf</a></i>
                                        <i class="fa fa-folder"> <a href="#">dfgdfga</a></i>
                                        <i class="am-comment-bd-tags fa fa-tag">所发生的</i>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="myStoryLeaveMessage">
                        <div class="comment" style="margin: 100px auto 50px">
                            <div class="comment-top">
                                <div class="comment-top-input" th:if="${#httpServletRequest.remoteUser}">
                                    <textarea id="comment" placeholder="客官，来说两句吧..."></textarea>
                                </div>
                                <div class="comment-top-input" th:unless="${#httpServletRequest.remoteUser}">
                                    <div class="goToLogin">
                                        &nbsp;&nbsp;&nbsp;<a id="toLogin">登录</a>后才可以发表留言呦...
                                    </div>
                                </div>
                                <div class="commentBtn">
                                    <button id="commentBtn" type="button" class="am-btn am-btn-secondary">发表留言</button>
                                </div>
                            </div>
                            <div class="comment-bottom">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div id="myPhoto">
                <div class="zhy-myPhoto">
                    <div class="notice">
                        <span class="alertNotice fa fa-exclamation-circle fa-4x"></span>
                    </div>
                    <div class="alertNoticeWord">
                        相册相册你在哪
                    </div>
                    <div class="zhangSire">
                        —————— 张先森有点懒，还没写这个功能
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--成功消息盒-->
    <div class="notice successNoticeAlert am-animation-slide-top">
        <span class="successNotice"></span>
    </div>
    <!--失败消息盒-->
    <div class="notice dangerNoticeAlert am-animation-slide-top">
        <span class="dangerNotice"></span>
    </div>

    <div class="feedback am-animation-slide-top">
        <a class="feedbackClose am-close am-close-alt am-close-spin am-icon-times"></a>
        <div class="feedbackTitle">
            反馈
        </div>
        <div class="feedbackWord">
            您对于本博客网站有任何意见或是存在Bug的地方，欢迎进行反馈
        </div>
        <div class="feedbackForm">
            <form class="am-form">
                <fieldset class="am-form-set">
                    <textarea id="feedbackFormContent" placeholder="非常感谢您抽出时间填写问题反馈。必填"></textarea>
                    <input type="text" class="feedbackFormQQ" placeholder="方便留下QQ或是微信联系你吗。选填">
                </fieldset>
                <button type="button" class="feedbackFormBtn am-btn am-btn-primary am-btn-block">提交反馈</button>
            </form>
        </div>

    </div>
</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<script src="js/plugs_paging.js"></script>
<script src="js/leaveMessage.js"></script>
<script src="js/mystory.js"></script>
</body>
</html>
