<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>更新 | 程序猿张先森</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords" content="博客,个人,学习,IT,生活,张海洋,程序猿,springboot,java,后端，更新">
    <meta name="description" content="张海洋，正宗97后，爱编程。喜欢旅行、摄影、爱生活。专注于Spring,SpringBoot等后端技术探索，以及MySql,Oracle数据库开发和SSM,SSH等后端流行框架学习。">

    <link rel="icon" type="image/x-icon" href="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/favicon.ico">
    <link href="https://lib.baomitu.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/comment.css">
    <link rel="stylesheet" href="css/update.css">
    <link href="https://lib.baomitu.com/font-awesome/5.8.0/css/fontawesome.min.css" rel="stylesheet">

    <script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://lib.baomitu.com/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="https://lib.baomitu.com/amazeui/2.7.2/js/amazeui.min.js"></script>
</head>
<body>
<div id="app">
    <!--引入共有头部-->
    <div th:replace="header :: header"></div>
    <!--页面主体-->
    <div id="main">
        <div class="am-container">
            <div class="am-g">
                <div class="am-u-sm-12 am-u-lg-11">
                    <div class="site-inner">
                        <div class="site-inner-img">
                            <img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/sun.jpg" class="am-img-thumbnail am-animation-slide-top">
                        </div>
                        <div class="site-inner-mywords am-animation-slide-top">
                            <p><i class="am-icon-quote-left " style="float: left"></i></p><br>
                            <div class="zhy-word">
                                听说最理想的生活是：<br><br>
                                <p>干净的圈子</p>
                                <p>规律的生活</p>
                                <p>中意的人</p>
                            </div>
                            <p><i class="am-icon-quote-right " style="float: right;"></i></p><br><hr>
                        </div>
                    </div>
                    <div class="zhy-update">
                        <div class="zhy-update-log">
                            <div class="zhy-update-log-title" data-am-scrollspy="{animation: 'slide-bottom'}">
                                <h1>更新日志</h1>
                                <p>发布于 2018/6/3</p>
                            </div>
                            <div class="zhy-update-log-content">
                                <div class="update-log " >
                                    <div class="update-log-date">
                                        <i class="am-icon-hashtag"></i>
                                        <h2>2019年07月15日</h2>
                                    </div>
                                    <div class="update-log-content">
                                        <blockquote><p>增加公益募捐功能</p>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="update-log " >
                                    <div class="update-log-date">
                                        <i class="am-icon-hashtag"></i>
                                        <h2>2019年05月19日</h2>
                                    </div>
                                    <div class="update-log-content">
                                        <blockquote><p>增加用户未读消息提醒，记得及时查看消息哦</p>
                                            <p>用户查看评论留言样式大整改，快去个人主页看看呦</p>
                                            <p>完善管理员后台分类管理、友链管理、点赞管理功能</p>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="update-log " >
                                    <div class="update-log-date">
                                        <i class="am-icon-hashtag"></i>
                                        <h2>2019年04月07日</h2>
                                    </div>
                                    <div class="update-log-content">
                                        <blockquote><p>整体修改文章访问的URL格式</p>
                                            <p>修复用户评论留言空字符的Bug</p>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="update-log " >
                                    <div class="update-log-date">
                                        <i class="am-icon-hashtag"></i>
                                        <h2>2019年03月22日</h2>
                                    </div>
                                    <div class="update-log-content">
                                        <blockquote><p>修复用户注册以及修改密码的隐藏Bug</p>
                                            <p>修改页面静态资源加载CDN，统一改用75CDN</p>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="update-log " >
                                    <div class="update-log-date">
                                        <i class="am-icon-hashtag"></i>
                                        <h2>2018年12月16日</h2>
                                    </div>
                                    <div class="update-log-content">
                                        <blockquote><p>增加管理员后台文章删除功能</p>
                                            <p>去除用户个人中心文章管理功能</p>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="update-log " >
                                    <div class="update-log-date">
                                        <i class="am-icon-hashtag"></i>
                                        <h2>2018年12月9日</h2>
                                    </div>
                                    <div class="update-log-content">
                                        <blockquote><p>修改博客放大图片插件，看图爽翻天</p>
                                            <p>优化部分页面性能</p>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="update-log " >
                                    <div class="update-log-date">
                                        <i class="am-icon-hashtag"></i>
                                        <h2>2018年12月6日</h2>
                                    </div>
                                    <div class="update-log-content">
                                        <blockquote><p>新增藏心阁 - 今日功能</p>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="update-log " >
                                    <div class="update-log-date">
                                        <i class="am-icon-hashtag"></i>
                                        <h2>2018年11月4日</h2>
                                    </div>
                                    <div class="update-log-content">
                                        <blockquote><p>修改首页文字轮播效果为上下滚动</p>
                                            <p>修复页面显示的一些细节Bug</p>
                                            <p>增加藏心阁功能，仍还在完善当中</p>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="update-log " >
                                    <div class="update-log-date">
                                        <i class="am-icon-hashtag"></i>
                                        <h2>2018年10月11日</h2>
                                    </div>
                                    <div class="update-log-content">
                                        <blockquote><p>完全去除网站BootStrap框架，统一兼容Amaze UI</p>
                                            <p>修改登录、注册页面样式</p>
                                            <p>新增首页文字轮播效果，吐露心中的哀伤 ┭┮﹏┭┮</p>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="update-log " >
                                    <div class="update-log-date">
                                        <i class="am-icon-hashtag"></i>
                                        <h2>2018年10月5日</h2>
                                    </div>
                                    <div class="update-log-content">
                                        <blockquote><p>修改Bootstrap版本引用问题</p>
                                            <p>主页最新留言评论增加鼠标停放显示</p>
                                            <p>修复文章编辑页面Bug</p>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="update-log " >
                                    <div class="update-log-date">
                                        <i class="am-icon-hashtag"></i>
                                        <h2>2018年9月6日</h2>
                                    </div>
                                    <div class="update-log-content">
                                        <blockquote><p>新增主页最新留言功能</p>
                                            <p>修复部分页面显示问题</p>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="update-log " >
                                    <div class="update-log-date">
                                        <i class="am-icon-hashtag"></i>
                                        <h2>2018年9月5日</h2>
                                    </div>
                                    <div class="update-log-content">
                                        <blockquote><p>新增markdown编辑器本地上传图片功能</p>
                                            <p>增加大量的emoji表情，可用于文章编辑使用</p>
                                            <p>修复自动生成文章摘要算法Bug</p>
                                            <p>修复行内代码显示错位问题</p>
                                            <p>改进文章代码块，实现代码块高亮显示</p>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="update-log " >
                                    <div class="update-log-date">
                                        <i class="am-icon-hashtag"></i>
                                        <h2>2018年7月25日</h2>
                                    </div>
                                    <div class="update-log-content">
                                        <blockquote><p>正式上线个人博客网站，并进行长期维护</p>
                                            <p>增加用户评论、留言功能，以及用户个人主页</p>
                                            <p>新增反馈功能</p>
                                            <p>调试所有页面手机端适配问题，提高手机端浏览舒适度</p>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="update-log " >
                                    <div class="update-log-date">
                                        <i class="am-icon-hashtag"></i>
                                        <h2>2018年6月24日</h2>
                                    </div>
                                    <div class="update-log-content">
                                        <blockquote><p>新增在线写博客功能，优化博客显示页面</p>
                                            <p>优化博客静态资源，浏览速度更快</p>
                                            <p>修复部分Bug</p>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="update-log " >
                                    <div class="update-log-date">
                                        <i class="am-icon-hashtag"></i>
                                        <h2>2018年6月3日</h2>
                                    </div>
                                    <div class="update-log-content">
                                        <blockquote><p>修改手机端页面显示以及更新日志动画效果，浏览起来更舒心</p>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="update-log " >
                                    <div class="update-log-date">
                                        <i class="am-icon-hashtag"></i>
                                        <h2>2018年6月1日</h2>
                                    </div>
                                    <div class="update-log-content">
                                        <blockquote><p>博客页面优化，新增关于我、友链以及右侧栏显示</p>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="update-log " >
                                    <div class="update-log-date">
                                        <i class="am-icon-hashtag"></i>
                                        <h2>2018年5月25日</h2>
                                    </div>
                                    <div class="update-log-content">
                                        <blockquote><p>博客网站发布</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="update-leave-message">
                        <div class="comment" style="margin: 0 auto 50px">
                            <div class="comment-top">
                                <div class="comment-top-input" th:if="${#httpServletRequest.remoteUser}">
                                    <textarea id="comment" placeholder="客官，来说两句吧..."></textarea>
                                </div>
                                <div class="comment-top-input" th:unless="${#httpServletRequest.remoteUser}">
                                    <div class="goToLogin">
                                        &nbsp;&nbsp;&nbsp;<a id="toLogin">登录</a>后才可以发表留言呦...
                                    </div>
                                </div>
                                <div class="commentBtn">
                                    <button id="commentBtn" type="button" class="am-btn am-btn-secondary">发表留言</button>
                                </div>
                            </div>
                            <div class="comment-bottom">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--引入共有底部-->
    <div th:replace="footer :: footer"></div>
    <!--消息盒子+反馈-->
    <div th:replace="other :: other"></div>
</div>

<script src="js/all.js"></script>
<script src="js/leaveMessage.js"></script>

</body>
</html>